<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'webpages/Js/jquery_flipster_min.css' %}">
  <link rel="stylesheet" href="{% static 'webpages/Js/jquery_flipster.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/Index.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Source+Serif+Pro:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/dist/css/bootstrap.min.css' %}" >
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/dist/css/bootstrap.css' %}" >

  <link rel="stylesheet" href="{% static 'webpages/css/dist/css/bootstrap-theme.css' %}" >
    <title></title>

  </head>
  <body>
    <!-- 2nd Navbar Starts here-->
    <nav class="navbar navbar-default navbar-fixed-top nav1">
      <div class="container-fluid white" id='Lowerband'>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><h4>About us</h4></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4>Courses</h4> </a>
                        <ul  class="dropdown-menu dropdown-menu">
                          <li><a href="{% url '6th' %}"><h4>class 6th</h4></a></li>
                          <li><a href="{% url '7th' %}"><h4>class 7th</h4></a></li>
                          <li><a href="{% url '8th' %}"><h4>class 8th</h4></a></li>
                          <li><a href="{% url '9th' %}"><h4>class 9th</h4></a></li>
                          <li><a href="{% url '10th' %}"><h4>class 10th</h4></a></li>
                          <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle" data-toggle="dropdown" role="button"><h4>class 11th</h4> </a>
                          <ul class="dropdown-menu">
                            <li><a href="#"><h4>Science</h4></a></li>
                            <li><a href="#"><h4>Commerce</h4></a></li>
                            <li><a href="#"><h4>Arts</h4></a></li>
                          </ul>
                          <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle" data-toggle="dropdown" role="button"><h4>class 12th</h4> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="#"><h4>Science</h4></a></li>
                            <li><a href="#"><h4>Commerce</h4></a></li>
                            <li><a href="#"><h4>Arts</h4></a></li>
                          </ul>
                          </li>
                          </ul>
                        </li>
                          <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4>Study Material</h4></a>
                          <ul class="dropdown-menu">
                            <li><a href="#"><h4>class 6th</h4></a></li>
                            <li><a href="#"><h4>class 7th</h4></a></li>
                            <li><a href="#"><h4>class 8th</h4></a></li>
                            <li><a href="#"><h4>class 9th</h4></a></li>
                            <li><a href="#"><h4>class 10th</h4></a></li>

                          </ul>
                          </li>
                  <li><a href="#"><h4>Doubt class</h4></a></li>
                  <li><a href="#"><h4>Competitions</h4></a></li>
                  <li><a href="#"><h4>Teach with us</h4></a></li>
                  <li><a href="#"><h4>More</h4></a></li>

            </div>
      </div>
</ul>
</nav>
<!-- 1st navbar start here -->
<nav class="navbar navbar-default navbar-fixed-top nav2">
  <div class="container-fluid">


    <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">

        <p><a href="{% url 'index' %}"><img class="pull-up" src="{% static 'webpages/images/Ekal_logo.png' %}"' %}" width='25%' alt='' ></p>
      </a>
    </a>
</div>


    <!-- Collect the nav links, forms, and other content for toggling -->




<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul id='pad'class="nav navbar-nav navbar-left ">

        <div class="row">
          <div class="col-xs-12 col-md-12 ">
          <li id='pad' style='margin-left:0px;'><a href="#"><h4><span class="glyphicon glyphicon-search" aria-hidden="true"></span>  Enquiry  Now &nbsp;</h4> </a>
          </li></div>
        </div>

</ul>

<ul id='pad'class="nav navbar-nav navbar-left ">
<div class="row">
  <div class="col-xs-12 col-md-12 ">
  <li id='pad' style='margin-left:50px;'><a href="#" ><h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Sign In &nbsp;</h4> </a>
  </li></div>
</div>

</ul>
<ul id='pad'class="nav navbar-nav navbar-right ">
<div class="row">
  <div class="col-xs-12 col-md-12 "style="padding-right:0px;margin-right:20px;">
  <li id='pad' ><a href="#" ><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>  8130682501 &nbsp; </a>
  </li></div>
  <div class="col-xs-12 col-md-12 ">
  <li id='pad' ><a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcRzBWVHwwpBgTtmnMDMpQkrrhrZRHZGFhgBxJqMrBmbcdRghJMXzwLJlLtsjzDCJNcqwSLjv" ><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  EkalShiksha2@gmail.com &nbsp; </a>
  </li></div>
</div>

</ul>
</div>
</div>


</nav>
<!-- Start for class 6 -->
<div class="container">
  <div class="jumbotron">


  <h1>Class 8th</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <br>
</div>
<!-- <div class="container">

<div class='row'>
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    <h1 class='para'>6th class course</h1>
  </div>
  <div class="col-md-5">
    <h1>Language Subject</h1>
  </div>
</div>
<div class='row'>
<div class="col-xs-1"></div>

<div class="col-xs-3 col-md-3">



    <div class="btn-group-lg btn-group-vertical">
      <button type="button" id="pre-reading-btn" class="btn btn-default">Maths</button>
      <br>
      <button type="button" id="passage-btn" class="btn btn-default">Science</button>
      <br>
      <button type="button" id="post-reading-btn" class="btn btn-default">SST</button>
    </div>

</div>
<div class="col-xs-3 col-md-3">
  <div class="btn-group-lg btn-group-vertical">
      <button type="button" id="pre-reading-btn" class="btn btn-default">English</button>
      <br>
      <button type="button" id="passage-btn" class="btn btn-default">IT</button>
      <br>
      <button type="button" id="post-reading-btn" class="btn btn-default">Sanskrit</button>
      <br>
    </div>

  </div>

  <div class="col-xs-3 col-md-3">
    <div class="btn-group-lg btn-group-vertical">
        <button type="button" class="btn btn-default">English</button>
        <br>
        <button type="button" class="btn btn-default">IT</button>
        <br>
        <button type="button" class="btn btn-default">Sanskrit</button>
        <br>
      </div>
    </div>
    <div class="col-md-2">
      <h1><br></h1>
        <button type="button" class="btn btn-primary btn-lg btn-huge">Coding classes</button>
        <br>
    </div>
</div>

</div> -->
<h1 class='para'>Subjects we Offer for your Exellence!!!</h1>
<div class="container">


<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home"><h2>Mathematics</h2></a></li>
  <li><a data-toggle="tab" href="#menu1"><h2>Science</h2></a></li>
  <li><a data-toggle="tab" href="#menu2"><h2>Social Studies</h2></a></li>
  <li><a data-toggle="tab" href="#menu3"><h2>Language Course</h2></a></li>
  <li><a data-toggle="tab" href="#menu4"><h2>Coding Classes</h2></a></li>
  <!-- <li><a data-toggle="tab" href="#menu5"><h2>Grade 7</h2></a></li>
  <li><a data-toggle="tab" href="#menu6"><h2>Grade 6</h2></a></li> -->

</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <div class="row">
      <br>
      <div class="col-xs-1 col-md-1"></div>
      <div class="col-xs-4 col-md-4">
        <p id='smal'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-xs-3 col-md-3"></div>
      <div class="col-xs-3 col-md-3">
        <!-- <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle"  aria-haspopup="true" aria-expanded="false">Science &nbsp; &nbsp;</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle"  aria-haspopup="true" aria-expanded="false">Commerce</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle"  aria-haspopup="true" aria-expanded="false">Humanities</button></a></div>
          <br>
          <br> -->
          <div class="btn-group-md btn-group-vertical">
              <button type="button" id="pre-reading-btn" class="btn btn-default">English</button>
              <br>
              <button type="button" id="passage-btn" class="btn btn-default">IT</button>
              <br>
              <button type="button" id="post-reading-btn" class="btn btn-default">Sanskrit</button>
              <br>
            </div>

        </div>
      </div>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Grade 11</h3>
    <p id='smal'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <div class="row">
      <br>
      <div class="col-xs-4 col-md-4">
        <p id='smal'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-xs-2 col-md-2"></div>
      <div class="col-xs-3 col-md-3">
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">Maths &nbsp; &nbsp;</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">Science</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">English</button></a></div>
          <br>
          <br>
        </div>
        <div class="col-xs-1 col-md-1">
          <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">IT</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">SST</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">Sanskrit</button></a></div>
          <br>
          <br>
        </div>
  </div>
</div>
  <div id="menu3" class="tab-pane fade">
    <div class="row">
      <br>
      <div class="col-xs-4 col-md-4">
        <p id='smal'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-xs-2 col-md-2"></div>
      <div class="col-xs-3 col-md-3">
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">Maths &nbsp; &nbsp;</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">Science</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">English</button></a></div>
          <br>
          <br>
        </div>
        <div class="col-xs-1 col-md-1">
          <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">IT</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">SST</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">Sanskrit</button></a></div>
          <br>
          <br>
        </div>
  </div>
  </div>
  <div id="menu4" class="tab-pane fade">
    <div class="row">
      <br>
      <div class="col-xs-4 col-md-4">
        <p id='smal'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-xs-2 col-md-2"></div>
      <div class="col-xs-3 col-md-3">
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">Maths &nbsp; &nbsp;</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">Science</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">English</button></a></div>
          <br>
          <br>
        </div>
        <div class="col-xs-1 col-md-1">
          <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">IT</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">SST</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">Sanskrit</button></a></div>
          <br>
          <br>
        </div>
  </div>
  </div>
  <div id="menu5" class="tab-pane fade">
    <div class="row">
      <br>
      <div class="col-xs-4 col-md-4">
        <p id='smal'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-xs-2 col-md-2"></div>
      <div class="col-xs-3 col-md-3">
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">Maths &nbsp; &nbsp;</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">Science</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">English</button></a></div>
          <br>
          <br>
        </div>
        <div class="col-xs-1 col-md-1">
          <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">IT</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">SST</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">Sanskrit</button></a></div>
          <br>
          <br>
        </div>
  </div>
  </div>
  <div id="menu6" class="tab-pane fade">
    <div class="row">
      <br>
      <div class="col-xs-4 col-md-4">
        <p id='smal'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-xs-2 col-md-2"></div>
      <div class="col-xs-3 col-md-3">
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">Maths &nbsp; &nbsp;</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">Science</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">English</button></a></div>
          <br>
          <br>
        </div>
        <div class="col-xs-1 col-md-1">
          <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">IT</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">SST</button></a></div>
          <br>
          <br>
        <a href="#"><div class="btn-group">
          <button type="button" class="btn btn-default block"  aria-haspopup="true" aria-expanded="false">Sanskrit</button></a></div>
          <br>
          <br>
        </div>
  </div>
  </div>
</div>
</div>
<!-- Slider starts here -->
<br>
<h1 class='para'>What we have for your child...</h1>
<div class="my-flipster">
    <ul>
        <li data-flip-title="Item 1 Title" data-flip-category="Category 1"><img src="{% static 'webpages/images/Ekal_logo.png' %}"" alt=""> </li>
        <li data-flip-title="Item 2 Title" data-flip-category="Category 1"><img src="{% static 'webpages/images/Ekal_logo.png' %}"" alt=""></li>
        <li data-flip-title="Item 3 Title" data-flip-category="Category 2"><img src="{% static 'webpages/images/Ekal_logo.png' %}"" alt=""></li>
        <li data-flip-title="Item 4 Title" data-flip-category="Category 2"><img src="{% static 'webpages/images/Ekal_logo.png' %}"" alt=""></li>
        <li data-flip-title="Item 5 Title"><img src="{% static 'webpages/images/Ekal_logo.png' %}"" alt=""></li>
    </ul>
</div>
<br>
<div class="container">


<h1 class="para">Road Map to your success</h1>
<div class="row">
  <div class="col-md-1 col-xs-1"></div>
  <div class="col-md-3 col-xs-3">
    <div class="jumbotron">
      <h2 id='smal'>Interact with our counsellor for free </h2>
    </div>
  </div>
  <div class="col-md-1 col-xs-1">
    <span id='smal_arrow'class='brlarge'></span>
    <div class="arrow-right"></div>
  </div>
  <div class="col-md-3 col-xs-3">
    <div class="jumbotron">
      <h2 id='smal'>Get perfect allocation of Mentor</h2>
    </div>
  </div>
  <div class="col-md-1 col-xs-1">
    <span id='smal_arrow'class='brlarge'></span>
    <div id="flag"></div>
  </div>
  <div class="col-md-3 col-xs-3">
    <div class="jumbotron">
      <h2 id='smal'>Get your First Free class with us...</h2>

    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-xs-10">

  </div>
  <div class="col-md-1 col-xs-1">
    <!-- <span id='vertical-space'></span> -->
    <div class="arrow-down"></div>
  </div>
  </div>
    <div class="row">

      <div class="col-md-5 col-xs-5">
      <!-- <span id='smal_arrow'></span>
      <div class="arrow-down"></div> -->
    </div>
    <div class="col-md-3 col-xs-3">
      <div class="jumbotron">
        <h2 id='smal'>Confirm your Mentor!!!</h2>

      </div>
    </div>
    <div class="col-md-1 col-xs-1">
      <span id='smal_arrow'class='brlarge'></span>
      <div class="arrow-left"></div>
    </div>
    <div class="col-md-3 col-xs-3">
      <div class="jumbotron">
        <h2 id='smal'>Confirm your Mentor!!!</h2>

      </div>
    </div>
  </div>
</div>
<br>
<div class="jumbotron white" id='Lowerband'>
    <h1 class='para'>Take your free concilling</h1>
    <div class="row">
      <div class="col-xs-4 col-lg-5"></div>
      <div class="col-xs-4 col-lg-5">
        <a href="#">
          <button class="btn btn-danger btn-lg" type="button" name="button">Join us for free!!!</button>
        </a>
      </div>
      <div class="col-xs-4 col-lg-5"></div>
    </div>
    </div>
</body>
<script src="{% static 'webpages/Js/jquery_flipster_min.js' %}"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</html>
